html,
body {
  min-width: 1200px;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

 /* body > * {
  background-color: rgba(255, 0, 0, 0.3);
}

body > * > * {
  background-color: rgba(0, 255, 0, 0.3);
}

 body > * > * > * {
  background-color: rgba(0, 0, 255, 0.3);
}

 body > * > * > * > * {
  background-color: rgba(255, 0, 255, 0.3);
} */

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font: inherit;
  font-weight: 500;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

 /*------------------------------ Header style --------------------------------  */
.main-header {
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  padding-top: 50px;

  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
 }

.site-navigation,
.user-navigation {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  width: 540px;
  margin-right: 60px;
}

.site-navigation-item {
  margin-right: 47px;
}

.user-navigation {
  justify-content: flex-end;
  width: 200px;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 200px;
}

.main-header-logo[href="index.html"]:hover,
.main-header-logo[href="index.html"]:focus {
  opacity: 0.8;
}

.main-header-logo[href="index.html"]:active {
  opacity: 0.3;
}

.user-navigation a {
  padding: 3px 0;
  padding-top: 27px;
  vertical-align: middle;
}

.site-navigation {
  padding: 3px 0;
  padding-top: 27px;
  vertical-align: middle;
}

.user-basket a {
  position: relative;
  padding-left: 45px;
}

.user-basket a:before {
  content: "";

  position: absolute;
  top: 33px;
  left: 5px;

  width: 20px;
  height: 20px;

  background-image: url("../img/basket-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation a,
.user-navigation a {
  display: block;

  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color:rgba(0, 0, 0, 0.3);
}

.currrent-navigation-item a {
  padding-bottom: 2px;

  border-bottom: 2px solid #fb565a;
}

/*------------------------------ Slider style --------------------------------  */
.advantages-slider {
  position: relative;
}

.slider-item p:first-of-type {
  max-width: 600px;
  margin: 0;
  margin-bottom: 26px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider-item p:nth-of-type(2) {
  max-width: 430px;
  margin: 0;
  margin-bottom: 39px;
}

.slider-item {
  padding: 78px 0 80px 0;
}

.slide-1,
.slide-2,
.slide-3 {
  display: none;
}

.slide-1 {
  background-image: url("../img/slide-picture-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slide-2 {
  background-image: url("../img/slide-picture-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slide-3 {
  background-image: url("../img/slide-picture-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

#product-1:checked ~ .slide-1 {
  display: block;
}

#product-2:checked ~ .slide-2 {
  display: block;
}

#product-3:checked ~ .slide-3 {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
/*------------------------------ Products style --------------------------------  */
.products {
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 80px;
}
.products-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.products-item {
  width: 300px;
  margin-right: 100px;
}

.products-item p {
  margin: 0;
}

.products-item .products-item-image {
  margin-bottom: 19px;
}

.products-item .products-item-info {
  margin-bottom: 30px;
}

.products-item:last-child {
  margin-right: 0;
}

.products h3 {
  margin: 0;
  margin-bottom: 17px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.button-short {
  width: 160px;
}

.products-item:nth-child(2) .button {
  background-color: #00ca74;
}

.products-item:nth-child(2) .button:hover,
.products-item:nth-child(2) .button:focus {
   background-color: #00bc6c;
}

.products-item:nth-child(2) .button:active {
  background-color: #00aa62;
}

.products-item:nth-child(3) .button {
  background-color: #efc84a;
}

.products-item:nth-child(3) .button:hover,
.products-item:nth-child(3) .button:focus {
   background-color: #eab534;
}

.products-item:nth-child(3) .button:active {
  background-color: #e5a722;
}
/*------------------------------ About-studio style --------------------------------  */
.about-studio {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 40px;
  min-height: 527px;
  border-bottom: 2px solid #eeeeee;
}

.about-wrapper:nth-of-type(1) {
  width: 660px;
  padding-top: 34px;
}

.about-studio p {
  margin: 0;

}

.about-studio p:nth-of-type(1) {
  margin-bottom: 33px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-studio p:nth-of-type(2) {
  margin-bottom: 40px;
}

.about-studio p:nth-of-type(3) {
  margin-bottom: 23px;

  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.about-products-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 36px;
}

.about-products-list li {
  position: relative;

  margin-bottom: 24px;
}

.about-products-list li:before {
  content: "";

  position: absolute;
  top: 11px;
  left: -35px;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.studio-statistic {
  table-layout: fixed;
  width:350px;
  height: 130px;
  margin: 0;
  margin-top: 29px;
  padding: 0;
}

.studio-statistic caption {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  padding-left: 11px;

  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.studio-statistic td {
  margin: 0;
  padding: 0;

  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  vertical-align: middle;
  color: #000000;
}

.studio-statistic th {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: left;
  vertical-align: middle;
  color: #283136;
}

.studio-statistic sup {
  font-size: 28px;
}
/*------------------------------ Clients style --------------------------------  */
.clients {
  border-bottom: 2px solid #eeeeee;
  padding-top: 45px;
  padding-bottom: 37px;
  margin-bottom: 80px;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.clients-item {
  position: relative;
  width: 260px;
  margin-right: 40px;
  vertical-align: middle;
  text-align: center;
}

.clients-item:nth-child(1) {
  padding-top: 11px;
}

.clients-item:nth-child(4) {
  padding-top: 7px;
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-item::after {
  content: "";

  position: absolute;
  top: 13px;
  right: -21px;

  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.clients-item:nth-child(2)::after {
  top: 18px;
}

.clients-item:nth-child(3)::after {
  top: -1px;
}

.clients-item:nth-child(4n)::after {
  display: none;
}

.clients-item a {
  opacity: 0.2;
}

.clients-item a:hover,
.clients-item a:focus {
  opacity: 1;
}

.clients-item a:active {
  opacity: 0.1;
}
/*------------------------------ Map style --------------------------------  */
.map {
  position: relative;
}
/*------------------------------ Main-contacts style --------------------------------  */
.main-contacts {
  position: absolute;
  box-sizing: border-box;
  top: 54px;
  left: 0;
  width: 319px;
  min-height: 308px;

  padding-left: 50px;
  padding-top: 49px;

  background-color: #ffffff;
}

.main-contacts p {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.main-contacts address {
  padding-left: 2px;
  margin-bottom: 36px;

  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  color: #666666;
}

.tel-link-wrapper {
  margin-top: 18px;
}

.main-contacts .tel-link {
  color: #666666;
}

.main-contacts .tel-link:hover,
.main-contacts .tel-link:focus {
  color: #fb565a;
}

.main-contacts .tel-link:active {
  color:rgba(0, 0, 0, 0.3);
}

.feedback-link {
  width: 219px;
}
/*------------------------------ Main-footer style --------------------------------  */
.main-footer {
  padding-top: 62px;
}

.main-footer .container {
  display: flex;
}

.footer-social {
  width: 260px;
  margin-right: 140px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 79px;

  color: #283136;

  border-radius: 50%;

  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3)
}

.promo {
  padding-top: 7px;
}

.promo b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.promo p {
  margin: 0;
  margin-top: 9px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}
/*------------------------------ Modal-feedback style --------------------------------  */
.modal-feedback {
  display: none;
}

.modal-feedbak h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(68, 68, 68, 0.5);

  background-color: #ffffff;
  border: solid 2px #d7dcde;
}

.feedback-form label {
  line-height: 18px;
  font-weight: 700;
  color: #00000;
}


/*------------------------------ Catalog style --------------------------------  */
/*-----------------------------------------------------------------------------  */
.catalog-grid-wrapper {
  display: flex;
  justify-content: space-between;
}

.sorting-catalog-wrapper {
  width: 760px;
}

.page-title {
  margin: 0;
  margin-top: 78px;
  padding: 0;
  padding-bottom: 108px;


  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.page-title-wrapper {
  width: 760px;
  margin: 0  auto;
  padding-left: 30px;
}

.catalog-main-header {
  margin-bottom: 58px;
}
/*------------------------------ Sorting style --------------------------------  */
.sorting {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sorting-catalog-grid-wrapper:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
}

.sorting p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.sorting a {
  margin-left: 26px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sorting a:nth-of-type(1) {
  margin-left: 0;
}

.sorting a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting a:active,
.sorting a:focus {
  color: #000000;
}

.sorting .sort-descending,
.sorting .sort-ascending {
  width: 20px;
  height: 20px;

  margin-left: 0;

  opacity: 0.2;
}

.sorting .sort-descending {
  margin-left: 49px;

  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  transform: rotate(180deg);
}

.sorting .sort-ascending {
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 75% 50%;
}

.sorting .sort-descending:hover,
.sorting .sort-ascending:hover {
  opacity: 0.6;
}

.sorting .sort-descending:active,
.sorting .sort-ascending:active,
.sorting .sort-descending:focus,
.sorting .sort-ascending:focus {
  opacity: 1;
}
/*------------------------------ Filters style --------------------------------  */
.filters {
  margin-top: -3px;
  width: 300px;
}

/*  Hard filter style*/

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.price-range {
  margin-bottom: 55px;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
}

.filter-item legend {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 16px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 60%;
  height: 2px;
  margin-left: 5%;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 9px 10px;
  margin-left: 9px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}
/* End hard filter style */

.filters fieldset {
  border: none;
}

.filters ul {
  margin: 0;
  padding: 0;
  line-height: 20px;
  list-style: none;
}

.grid-type-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.grid-type-option:nth-of-type(1) {
  margin-top: 16px;
}

.grid-type-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.outputarea {
  line-height: 22px;
  text-transform: uppercase;
}

.outputarea output {
  background-color: #eeeeee;
}

.filters-button {
  color: #000000;
  background-color: #eeeeee;
}

.filters-button:hover,
.filters-button:focus {
  background-color: #dfdfdf;
}

.filters-button:active {
  color: #000000;
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
/*------------------------------ Catalog style --------------------------------  */
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-item {
  width: 360px;
  margin-bottom: 33px;
  margin-right: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item > a {
  color: #000000;
}

.catalog-item > a:hover,
.catalog-item > a:focus {
  color: #fb565a;
}

.catalog-item > a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-info {
  line-height: 18px;
  color: #666666;
}
/*------------------------------ Pagination style --------------------------------  */
.pagination-list {
  list-style: none;
}

.pagination-item-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee;
}

.pagination-item-link:hover {
  background-color: #dfdfdf;
}

.pagination-item-link:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.pagination-item-link:focus {
  border: solid 3px #dbdbdb;
}

.button-pagination {
  color: #000000;
  background-color: #eeeeee;
}

.button-pagination:hover,
.button-pagination:focus {
  background-color: #dfdfdf;
}

.button-pagination:active {
  color: #000000;
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
