html,
body {
  min-width: 1200px;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

/* body > * {
  background-color: rgba(255, 0, 0, 0.3);
}

body > * > * {
  background-color: rgba(0, 255, 0, 0.3);
}

body > * > * > * {
  background-color: rgba(0, 0, 255, 0.3);
}

/* body > * > * > * > * {
  background-color: rgba(255, 0, 255, 0.3);
} */

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;

  font: inherit;
  font-weight: 500;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

 /*------------------------------ Header style --------------------------------  */
.main-header {
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.main-navigation {
  display: flex;
  padding-top: 50px;
  margin-bottom: 85px;

  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
 }

.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  width: 540px;
  margin-right: 60px;
}

.user-navigation {
  width: 200px;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 200px;
}

.main-header-logo[href="index.html"]:hover,
.main-header-logo[href="index.html"]:focus {
  opacity: 0.8;
}

.main-header-logo[href="index.html"]:active {
  opacity: 0.3;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color:rgba(0, 0, 0, 0.3);
}
/*------------------------------ Slider style --------------------------------  */
.advantages-slider {
  position: relative;
}

.slider-item p:first-of-type {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider-item p:nth-of-type(2) {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item {
  padding: 78px 0 80px 0;
}

.slide-1,
.slide-2,
.slide-3 {
  display: none;
}

.slide-1 {
  background-image: url("../img/slide-picture-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slide-2 {
  background-image: url("../img/slide-picture-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slide-3 {
  background-image: url("../img/slide-picture-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

#product-1:checked ~ .slide-1 {
  display: block;
}

#product-2:checked ~ .slide-2 {
  display: block;
}

#product-3:checked ~ .slide-3 {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
/*------------------------------ Products style --------------------------------  */
.products {
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 80px;
}
.products-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.products-item {
  width: 300px;
  margin-right: 100px;
}

.products-item:last-child {
  margin-right: 0;
}

.products h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.products-item:nth-child(2) .button {
  background-color: #00ca74;
}

.products-item:nth-child(2) .button:hover,
.products-item:nth-child(2) .button:focus {
   background-color: #00bc6c;
}

.products-item:nth-child(2) .button:active {
  background-color: #00aa62;
}

.products-item:nth-child(3) .button {
  background-color: #efc84a;
}

.products-item:nth-child(3) .button:hover,
.products-item:nth-child(3) .button:focus {
   background-color: #eab534;
}

.products-item:nth-child(3) .button:active {
  background-color: #e5a722;
}
/*------------------------------ About-studio style --------------------------------  */
.about-studio {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 525px;
  border-bottom: 2px solid #eeeeee;
}

.about-wrapper:nth-of-type(1) {
  width: 660px;
}

.about-studio p:nth-of-type(1) {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-studio p:nth-of-type(3) {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.about-products-list {
  list-style: none;
}

.studio-statistic {
  width: 345px;
  height: 160px;

}

.studio-statistic caption {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.studio-statistic td {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.studio-statistic th {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: #283136;
}
/*------------------------------ Clients style --------------------------------  */
.clients {
  border-bottom: 2px solid #eeeeee;
  padding-top: 45px;
  padding-bottom: 40px;
  margin-bottom: 80px;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.clients-item {
  width: 260px;
  margin-right: 40px;
  vertical-align: middle;
  text-align: center;
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-item a {
  opacity: 0.2;
}

.clients-item a:hover,
.clients-item a:focus {
  opacity: 1;
}

.clients-item a:active {
  opacity: 0.1;
}
/*------------------------------ Map style --------------------------------  */
.map {
  position: relative;
}
/*------------------------------ Main-contacts style --------------------------------  */
.main-contacts {
  position: absolute;
  top: 54px;
  left: 0;
  width: 319px;
  min-height: 308px;
  background-color: #ffffff;
}

.main-contacts p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.main-contacts address {
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  color: #666666;
}

.main-contacts .tel-link {
  color: #666666;
}

.main-contacts .tel-link:hover,
.main-contacts .tel-link:focus {
  color: #fb565a;
}

.main-contacts .tel-link:active {
  color:rgba(0, 0, 0, 0.3);
}
/*------------------------------ Main-footer style --------------------------------  */
.main-footer {
  padding-top: 70px;
}

.main-footer .container {
  display: flex;
}

.footer-social {
  width: 260px;
  margin-right: 140px;
}

.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-button {
  width: 79px;
  height: 79px;

  color: #283136;

  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.promo b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.promo p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}
/*------------------------------ Modal-feedback style --------------------------------  */
.modal-feedback {
  display: none;
}

.modal-feedbak h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(68, 68, 68, 0.5);

  background-color: #ffffff;
  border: solid 2px #d7dcde;
}

.feedback-form label {
  line-height: 18px;
  font-weight: 700;
  color: #00000;
}


/*------------------------------ Catalog style --------------------------------  */
/*-----------------------------------------------------------------------------  */
.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}
/*------------------------------ Sorting style --------------------------------  */
.sorting p {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.sorting a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sorting a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting a:active,
.sorting a:focus {
  color: #000000;
}
/*------------------------------ Filters style --------------------------------  */
.filters legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.filters fieldset {
  border: none;
}

.filters ul {
  line-height: 20px;
  list-style: none;
}

.outputarea {
  line-height: 22px;
  text-transform: uppercase;
}

.outputarea output {
  background-color: #eeeeee;
}

.filters-button {
  color: #000000;
  background-color: #eeeeee;
}

.filters-button:hover,
.filters-button:focus {
  background-color: #dfdfdf;
}

.filters-button:active {
  color: #000000;
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
/*------------------------------ Catalog style --------------------------------  */
.catalog-list {
  list-style: none;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-item > a {
  color: #000000;
}

.catalog-item > a:hover,
.catalog-item > a:focus {
  color: #fb565a;
}

.catalog-item > a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-info {
  line-height: 18px;
  color: #666666;
}
/*------------------------------ Pagination style --------------------------------  */
.pagination-list {
  list-style: none;
}

.pagination-item-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee;
}

.pagination-item-link:hover {
  background-color: #dfdfdf;
}

.pagination-item-link:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.pagination-item-link:focus {
  border: solid 3px #dbdbdb;
}

.button-pagination {
  color: #000000;
  background-color: #eeeeee;
}

.button-pagination:hover,
.button-pagination:focus {
  background-color: #dfdfdf;
}

.button-pagination:active {
  color: #000000;
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}
